---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<h1 class="text-4xl font-bold">Welcome to Fastansia!</h1>
	<p class="mt-4 text-lg">This is the homepage of your Astro project.</p>
</Layout>
