---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Map">
    <h1 class="text-4xl font-bold">Map Page</h1>
    <p class="mt-4 text-lg">This is the map page of your Astro project.</p>
</Layout>